body{
  width: 1920px;
  height: 1080px;
  overflow: hidden;
}
.cinema_bg{
  width: 100vw;
  height: 100vh;
  background: url('../img/HS/cinema/bg.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
}
.cinema_block01{
  width: 100vw;
  height: 36vh;
  background: url('../img/HS/cinema/blcok1.png');
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  position: absolute;
  bottom: -7.2vh;
  left: 0;
}
.cinema_chair01{
  width: 100vw;
  height: 36vh;
  background: url('../img/HS/cinema/chair01.png');
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  left: 0;
}
.cinema_block02{
  width: 100vw;
  height: 36vh;
  background: url('../img/HS/cinema/block2.png');
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 5vh;
  left: 0;
}
.cinema_chair02{
  width: 100vw;
  height: 36vh;
  background: url('../img/HS/cinema/chair02.png');
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 14vh;
  left: 0;
}
.cinema_block03{
  width: 100vw;
  height: 36vh;
  background: url('../img/HS/cinema/blcok3.png');
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 25vh;
  left: 0;
}
.cinema_chair03{
  width: 100vw;
  height: 36vh;
  background: url('../img/HS/cinema/chair03.png');
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 40vh;
  left: 0;
}

.person01{
  width: 24vw;
  height: 52vh;
  background: url('../img/HS/cinema/person01.png');
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  position: absolute;
  bottom: -0.5vh;
  right: 16vw;
  transition: all 1s;
  &:hover{
    transform: scale(1.1);
  }
}
.person02{
  width: 24vw;
  height: 52vh;
  background: url('../img/HS/cinema/person02.png');
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  position: absolute;
  bottom: -0.9vh;
  left: 17.4vw;
  transition: all 1s;
  &:hover{
    transform: scale(1.1);
  }
}
.person03{
  width: 24vw;
  height: 52vh;
  background: url('../img/HS/cinema/person03.png');
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 25.2vh;
  left: -2.5vw;
  transition: all 1s;
  &:hover{
    transform: scale(1.1);
  }
}
.person04{
  width: 24vw;
  height: 52vh;
  background: url('../img/HS/cinema/person04.png');
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 25.2vh;
  left: 38.5vw;
  transition: all 1s;
  &:hover{
    transform: scale(1.1);
  }
}
.person05{
  width: 22vw;
  height: 42vh;
  background: url('../img/HS/cinema/person05.png');
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 25.2vh;
  right: -1.7vw;
  transition: all 1s;
  &:hover{
    transform: scale(1.1);
  }
}
.person06{
  width: 22vw;
  height: 40vh;
  background: url('../img/HS/cinema/person06.png');
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 42.2vh;
  left: 19vw;
  transition: all 1s;
  &:hover{
    transform: scale(1.1);
  }
}
.person07{
  width: 20vw;
  height: 42vh;
  background: url('../img/HS/cinema/person07.png');
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 40.2vh;
  right: 19.5vw;
  transition: all 1s;
  &:hover{
    transform: scale(1.1);
  }
}